body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.custom-cursor {
  cursor: url("/images/cursor.cur"), auto;
}

.navbar {
  background-color: #1e1e1e;
  text-align: center;
  padding: 10px;
}

.navbar a {
  margin: 0 10px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Lily Script One", cursive;
}

.section-logo {
  text-align: center;
  padding: 0;
}

.section-logo img {
  width: 100%;
  height: auto;
}

.movie-posters {
  padding: 20px;
  background-color: #fff;
  text-align: center;
  position: relative;
}

.movie-poster {
  width: 200px;
  height: 300px;
  margin: 10px;
  display: inline-block;
  position: relative;
}

footer {
  font-family: "Actor", sans-serif;
  background-color: #1e1e1e;
  font-size: 1rem;
  padding: 10px;
  color: #fff;
  text-align: center;
}

footer a {
  color: #fff;
  margin: 0 5px;
}
